.form_client{
    display: flex;
    flex-direction: column;
}

.form_client h2{
    margin-bottom: 15px;
}

.form_client input{
    margin-bottom: 15px;
    margin-top:5px;
    padding:8px;
    border-radius: 10px;
    border:1px solid rgb(194, 194, 194);
}

.form_client label{
    font-size: 15px;
    font-weight: 600;
}

.error_email{
    display: '';
    color: #dc3545;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

.error_email_none{
    display: none;
}

.email_input_error{
    box-shadow: 0px 0px 5px 3px  #dc3545;
}