.cart-widget {
    margin-left: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.cart-widget img {
    width: 40px;
}

.counter_cart{
    color: white;
    font-weight: bold;
    font-size: 20px;;
}