.img_cart{
    width: 80px;
}

.btn_trash{
    border:0px;
    background-image: url('/public/icons/recycle-bin-closed.png');
    background-color: transparent;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-repeat: no-repeat;
}

.btn_trash:hover{
    background-image: url('/public/icons/recycle-bin-open.png');
}

.link_item_cart{
    color: #202020;
    text-decoration: none;
}

.link_item_cart:hover{
    text-decoration: underline;
}